- verify_codes = VerifyCode.all

= link_to 'new', '/verify_codes/new'
- verify_codes.each do |verify_code|
  .item
    = verify_code.desc
    = link_to '详情', "/verify_codes/#{verify_code.id}"
    = link_to '编辑', "/verify_codes/#{verify_code.id}/edit"

= link_to '登出', '/zhi_ma_kai_men/logout'